function setDate(time) {
  var date = getDate(time * 1);
  var year = date.getFullYear();
  var month = date.getMonth() + 1;
  var day = date.getDate();
  var hours = date.getHours();
  var mins = date.getMinutes();
  var sec = date.getSeconds();

  return year + '-' + month + '-' + day + ' ' + hours + ':' + mins + ':' + sec
}

module.exports = {
  setDate: setDate
}